In [3]:
import yfinance as yf
import datetime
from pandas_datareader import data as pdr

In [4]:
#Load the database and read it 

ticker = "ETH-USD"
start = "2018-01-01"
end = datetime.datetime.now()

df = pdr.get_data_yahoo(ticker, start, end)

df

TypeError: string indices must be integers

In [5]:
import datetime
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

ticker = "ETH-USD"
start = "2018-01-01"
end = datetime.datetime.now()

df = pdr.get_data_yahoo(ticker, start, end)

df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-01,755.757019,782.530029,742.004028,772.640991,772.640991,2595760128
2018-01-02,772.346008,914.830017,772.346008,884.443970,884.443970,5783349760
2018-01-03,886.000000,974.471008,868.450989,962.719971,962.719971,5093159936
2018-01-04,961.713013,1045.079956,946.085999,980.921997,980.921997,6502859776
2018-01-05,975.750000,1075.390015,956.325012,997.719971,997.719971,6683149824
...,...,...,...,...,...,...
2023-02-12,1539.776001,1545.554199,1501.462036,1515.033691,1515.033691,5319698775
2023-02-13,1514.916992,1524.731445,1470.023926,1507.165894,1507.165894,9363855114
2023-02-14,1506.992065,1562.034302,1497.194458,1556.875122,1556.875122,9249575045
2023-02-15,1556.765137,1674.289795,1545.689697,1673.745972,1673.745972,10015035156
2023-02-20,1684.290771,1716.489380,1659.509399,1698.305176,1698.305176,8091778048